# WiFi + MQTT
CONFIG_ESP_WIFI_ENABLED=y
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=y

# LWIP
CONFIG_LWIP_DHCP_GET_HOSTNAME=y

# MQTT (ESP-IDF built-in)
CONFIG_MQTT_PROTOCOL_311=y

# Reduce log noise in release
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

# FreeRTOS
CONFIG_FREERTOS_HZ=1000

# Flash size
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# Custom partition table (micro:bit display via wired UART)
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="./partitions.csv"
